<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.classysharkandroid" >

    <application
        android:theme="@style/Theme.AppCompat"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ClassyShark"
         >
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="ClassyShark" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:theme="@style/Theme.AppCompat"
            android:name=".activities.ClassesListActivity"
            android:label="ClassyShark" >

        </activity>
        <activity
            android:theme="@style/Theme.AppCompat"
            android:name=".activities.SourceViewerActivity"
            android:label="ClassyShark" >

        </activity>
    </application>


</manifest>
